.panelTitle {
  text-align: left;
  font-size: 20px;
  padding-top: 5px;
}

.panelClose {
  text-align: right;
  margin-top: -34px;
}

.arrowUp {
  color: green;
  vertical-align: middle;
  font-size: 50px;
  margin-top: 20px;
}

.arrowDown {
  color: red;
  vertical-align: middle;
  font-size: 50px;
  margin-top: 20px;
}